{% extends 'base.html' %}
{% block content %}

  <div class='container'>
    <h1>About</h1>
    <p>Este blog es una especie de cuaderno de apuntes,
      en el eque quiero ir guardando temas de importancia para mi.
      Sobre todo de programación y tecnología.
    </p>
    <p>
      De tal forma que me sirva de repaso y por si en algun momento
      necesito recordar algo, lo pueda encontrar aquí.
    </p>
    <p>Espero que a ti también te sirva de algo.</p>

  <h3>Mis temas favoritos por el momento son:</h3>

    <ul class="temasFavoritos">
      <li>Python</li>
      <li>React</li>
      <li>Angular</li>
      <li>Nvim</li>
      <li>Machine Learning</li>
    </ul>
  </div>

  {% include "./derecha_component.html" %} 

{%endblock%}
</html>
