
{% load static %}
{% block content %}
<div class="anuncios_derecha">
  <div class="itemAnuncio">
    <img 
      class="imagenanuncio"
      src="{% static 'images/tenis1.webp' %}"
      alt="anuncio"
      />
  </div>
  <div class="itemAnuncio">
    <img 
      class="imagenanuncio"
      src="{% static 'images/ranas_blackjack.webp' %}"
      alt="anuncio"
      />
  </div>
  <div class="itemAnuncio">
    <img 
      class="imagenanuncio"
      src="{% static 'images/bicisRenta.webp' %}"
      alt="anuncio"
      />
  </div>
  <div class="itemAnuncio">
    <img 
      class="imagenanuncio"
      src="{% static 'images/cafeteria1.webp' %}"
      alt="anuncio"
      />
  </div>
</div>
{% endblock %}
