{% extends 'base.html' %}
{% block content %}
<div class="hero item2">

	<div class="texto">
		<h1>Blog de Marco en Red</h1>
		<p>Angular, React y Python</p>
	</div>

	{% load static %}
	<img class="heroImage" src="{% static 'images/un_anuncio_sobre_un_teclado_de_computadora3.jpeg' %}" alt="Un teclado">

</div>
<div class="item3"></div>
<div class="item4 celda">
	<h2>Articulos recientes: </h2>
	<ul>
		{% for article in articles%}
		<li>
			<h4>
				<a href="{% url 'article_detail' article.id %}">

					{{ article.title }}

				</a>

			</h4>
					<p>
					    {{article.resumen}}
					</p>
		</li>
		{% endfor %}
	</ul>
</div>
{% load static %}
<div class="item5 celda">
	<img src="{% static "images/anuncios_fake_tipo_adsense1.jpeg"%}" alt="anuncio" class="anuncio" >
	<img src="{% static "images/un_anuncio_chisme_de_algun_personaje_famoso1.jpeg"%}" alt="anuncio" class="anuncio" >
</div>
	</div>
	{% endblock %}	
	</html>

